<div class="mat-elevation-z1 !shadow-sm border border-gray-200 dark:border-gray-800 rounded-xl overflow-hidden bg-white dark:bg-gray-900">
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="dataSource" matSort class="w-full bg-transparent">

      <!-- Dynamic Columns -->
      <ng-container *ngFor="let col of columns" [matColumnDef]="col.def">
        <ng-container *ngIf="!col.isAction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="!text-gray-500 dark:!text-gray-400 !font-semibold !bg-gray-50 dark:!bg-gray-800/50"> 
            {{ col.header }} 
          </th>
          <td mat-cell *matCellDef="let element" class="!text-gray-700 dark:!text-gray-300"> 
            <!-- We will use innerHTML in case we want to return badges -->
            <div [innerHTML]="col.cell(element)"></div>
          </td>
        </ng-container>
        
        <!-- Actions Column -->
        <ng-container *ngIf="col.isAction">
          <th mat-header-cell *matHeaderCellDef class="!text-right !text-gray-500 dark:!text-gray-400 !font-semibold !bg-gray-50 dark:!bg-gray-800/50"> 
            {{ col.header }} 
          </th>
          <td mat-cell *matCellDef="let element" class="!text-right">
            <div class="flex justify-end gap-1">
              <button *ngIf="view.observed" mat-icon-button color="primary" matTooltip="View Details" (click)="onView(element)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button *ngIf="edit.observed" mat-icon-button color="accent" matTooltip="Edit" (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="delete.observed" mat-icon-button color="warn" matTooltip="Delete" (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!border-b !border-gray-200 dark:!border-gray-800"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="!border-b !border-gray-100 dark:!border-gray-800 hover:!bg-gray-50 dark:hover:!bg-gray-800/30 transition-colors"></tr>
    </table>
  </div>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" class="!bg-white dark:!bg-gray-900 border-t border-gray-100 dark:border-gray-800"></mat-paginator>
</div>
