.danger-row {
  background-color: rgba(220, 38, 38, 0.1) !important;
}

.warning-row {
  background-color: rgba(217, 119, 6, 0.1) !important;
}

.info-row {
  background-color: rgba(14, 165, 233, 0.1) !important;
}
