<nav class="flex text-sm text-gray-500 dark:text-gray-400" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2">
    <li class="inline-flex items-center">
      <a routerLink="/" class="inline-flex items-center hover:text-green-600 dark:hover:text-green-400 transition-colors">
        <mat-icon class="text-sm h-4 w-4 leading-4 mr-1">home</mat-icon>
        Home
      </a>
    </li>
    <li *ngFor="let crumb of breadcrumbs; let last = last">
      <div class="flex items-center">
        <mat-icon class="text-sm h-5 w-5 leading-5 opacity-50">chevron_right</mat-icon>
        <a *ngIf="!last" [routerLink]="crumb.url" class="ml-1 hover:text-green-600 dark:hover:text-green-400 transition-colors md:ml-2">
          {{ crumb.label }}
        </a>
        <span *ngIf="last" class="ml-1 text-gray-700 dark:text-gray-200 font-medium md:ml-2">
          {{ crumb.label }}
        </span>
      </div>
    </li>
  </ol>
</nav>
